.radio_question label {
  height: fit-content;
}

.radio_question img {
  outline: 1px solid black;
  aspect-ratio: 1 / 1;
  width: 10rem;
  border-radius: 5px;
}

.form > * {
  padding-bottom: 5rem;
}

.color_wheel img {
  mask: repeating-radial-gradient(
      circle,
      transparent 0 5px,
      lightgreen 15px 20px
    )
    content-box border-box 0% 0% / 100px 100px repeat;
}