.radio_question label {
  height: fit-content;
}

.radio_question img {
  outline: 1px solid black;
  aspect-ratio: 1 / 1;
  width: 10rem;
  border-radius: 5px;
}

.form > * {
  padding-bottom: 5rem;
}

.pet_preview div {
  background-color: purple;
  mask-image: url('../PetImages/marth.png');
  mask-mode: alpha;
}

.pet_preview img,
.pet_preview div {
  box-sizing: content-box;
  padding: 20px;
  aspect-ratio: 1;
}